.terminal {
  --padding: 8px 16px;
  --border-radius: 5px;

  margin-bottom: 10px;
  font-size: 1rem;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.terminal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  font: 600 0.8em sans-serif;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: rgb(26, 114, 63);
  transition: background 200ms ease-in-out;
}

.terminal--disabled .terminal_header {
  background: #444;
}

.terminal_content {
  max-height: 350px;
  overflow: auto;
  padding: var(--padding);
  font-family: monospace;
  background: #222;
}

.terminal_controls {
  display: flex;
}

.terminal_button {
  background: #f0f0f0;
  border: 3px outset #999;
  padding: 0.5em 1em;
  border-radius: 2px;
  cursor: pointer;
  transition: background 100ms ease-in-out;
  font-weight: bold;
}

.terminal_button:hover {
  background: #fff;
}

.terminal_button:active {
  border-style: inset;
}
